# DATA HANDLING AND DATA PRECESSING 
## FOR STATE AND DISTRICT

In [5]:
import pandas as pd
import numpy as np
import pickle


### Loading the dataset
df = pd.read_csv('D:\All Dataset\Covid19_India_Final_Dataset.csv')

In [6]:
df.head()

,Unnamed: 0,Date Announced,Detected District,Detected State,Current Status,Num Cases,Day,Month,Year
0,0,30/01/2020,Thrissur,Kerala,Recovered,1.0,30.0,1.0,2020.0
1,1,02/02/2020,Alappuzha,Kerala,Recovered,1.0,2.0,2.0,2020.0
2,2,03/02/2020,Kasaragod,Kerala,Recovered,1.0,3.0,2.0,2020.0
3,3,02/03/2020,East Delhi,Delhi,Recovered,1.0,2.0,3.0,2020.0
4,4,02/03/2020,Hyderabad,Telangana,Recovered,1.0,2.0,3.0,2020.0

In [7]:
Final_Dataset = df.groupby(['Day', 'Month', 'Year', 'Detected District', 'Current Status'])[['Num Cases']].sum()
Final_Dataset

                                                    Num Cases
Day  Month Year   Detected District Current Status
1.0  1.0   2021.0 Adilabad          Hospitalized          6.0
                  Agar Malwa        Hospitalized          3.0
                                    Recovered             8.0
                  Agra              Hospitalized         28.0
                                    Recovered            40.0
...                                                       ...
31.0 12.0  2020.0 Yamunanagar       Hospitalized         21.0
                                    Recovered            29.0
                  Yanam             Recovered             1.0
                  Yavatmal          Hospitalized         78.0
                                    Recovered            80.0

[384869 rows x 1 columns]

In [8]:
Final_Dataset.to_csv('District_wise_Dataset.csv')